body {
    font-family: "Sofia", sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;

}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
}

#main-heading {
    margin: 0;
}

.content {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    margin: 20px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin: 10px;
}


.question-section {
    text-align: center;
    margin: 20px;
}

label {
    display: block;
    margin-bottom: 10px;
}

textarea {
    width: 80%;
    height: 150px;
    resize: none;
    margin-bottom: 10px;
}

button {
    padding: 10px;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #555;
}

.answer-section {
    text-align: center;
    margin: 20px;
    padding-bottom: 100px;
}

h4 {
    margin-bottom: 10px;
}

#user-question {
    font-family: 'Lemon', serif;
    text-align: left; /* Align user question text to the left */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    max-width: 80%;
    margin: 0 auto; /* Center the content horizontally */
}

#sneha-answer {
    font-family: 'Lemon', serif;
    text-align: left; /* Align user question text to the left */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    max-width: 80%;
    margin: 0 auto; /* Center the content horizontally */
}

footer {
    font-family: 'Roboto', sans-serif;
    background-color: #800080; /* Purple background */
    color: #fff;
    text-align: center;
    padding: 10px;
}

footer a {
    color: #fff; /* Muted gray color for the hyperlink */
    text-decoration: none;
}

footer a:hover {
    color: #ccc; /* Light gray color on hover */
}